/* ROOT AND ELEMENT STYLING ---------------------------------------------------------------------------------- */
:root {
  --background-color: #ffffff;
  --text-color: black;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  --grey: rgb(160, 160, 160);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root.dark {
  --background-color: #242424;
  --text-color: white;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  --grey: rgb(70, 70, 70);

}

body {
  margin: 0px;
  display: flex;
  place-items: center;
  min-width: 800px;
  min-height: 400px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--text-color);
  padding: 50px;
  text-align: left;
}

.highlight {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: lightblue;
  padding: 10px;
  text-align: center;
}

.spacer {
  flex: 1;
}

/* HEADER ---------------------------------------------------------------------------------- */

.head_container {
  z-index: 0;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, var(--background-color) 100%),
    url("/tower.jpeg");
  background-size: cover;
  gap: 10px;
}
.head_container .title {
  position: relative;
  font-size: 7vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.head_container .logo {
  position: relative;
  padding-left: 30px;
  width: 7%;
  height: 45%;
}
.head_container .logo:hover {
  cursor: pointer;
}
.head_container .navbutton {
  color: white;
  margin-right: 50px;
  scale: 4;
}

/* POPUP ---------------------------------------------------------------------------------- */

.popupoverlay {
  z-index: 2;
  position: absolute;
  border-radius: 10px;
  bottom: 50%;
  left: 80%;
  width: 250px;
  height: 275px;
  background-color: #414141;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.popupcontent {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  color: white;
}
.popupcontent .option {
  padding-top: 20px;
  width: 95%; 
  border: none;
  border-top: 2px solid white;
  text-align: center;
}
.popupcontent .option:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* MAIN MENU ---------------------------------------------------------------------------------- */

.menu {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  left: 0px;
  top: 25%;
  width: 20%;
  height: 75%;
  background: 
    linear-gradient(to top, rgba(1, 1, 100) 98%, var(--background-color) 100%),
    rgba(1, 1, 100);
  overflow-x: hidden;
  overflow-y: scroll;
}
.menu .menubtn {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  background-color: inherit;
  border: none;
  color: goldenrod;
  font-size: 30px;
  cursor: pointer;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0px;
  border-bottom: 2px solid grey;
  width: 95%;
}
.menu .menubtn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu .menubtn:first-child {
  margin-top: 40px;
}
.menu .menubtn:last-child {
  border-bottom: none;
}

/* USER MENU ---------------------------------------------------------------------------------- */

.usermenu {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  right: 0px;
  top: 25%;
  width: 20%;
  height: 75%;
  background: 
    linear-gradient(to top, rgba(1, 1, 100) 97%, var(--background-color) 100%),
    rgba(1, 1, 100);
  overflow-x: hidden;
  overflow-y: scroll;
}
.usermenu .menubtn {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  background-color: inherit;
  border: none;
  color: goldenrod;
  font-size: 30px;
  cursor: pointer;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0px;
  border-bottom: 2px solid grey;
  width: 95%;
}
.usermenu .menubtn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.usermenu .menubtn:first-child {
  margin-top: 40px;
}
.usermenu .menubtn:last-child {
  border-bottom: none;
}

/* MAIN PAGE ---------------------------------------------------------------------------------- */

.mainpage {
  z-index: 0;
  position: absolute;
  background-color: var(--background-color);
  bottom: 0px;
  right: 0px;
  width: 80%;
  height: 75%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* USER MAIN PAGE ---------------------------------------------------------------------------------- */

.usermain {
  z-index: 0;
  position: absolute;
  background-color: var(--background-color);
  bottom: 0px;
  left: 0px;
  width: 80%;
  height: 75%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* MAIN PAGE TOP BUTTON ROW ---------------------------------------------------------------------------------- */

.buttonrow {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  right: 15px;
  top: 15px;
  width: 95%;
}
.navbutton:hover {
  cursor: pointer;
}
.buttonrow .toggle {
  border: 1px solid black;
  background-color: var(--grey);
  color: white;
  border-radius: 5px;
  width: 100x;
  height: 50px;
}
.buttonrow .navbutton {
  color: var(--text-color);
  margin-left: 50px;
  margin-right: 90px;
}
.buttonrow .search {
  border: 1px solid black;
  background-color: var(--grey);
  color: white;
  border-radius: 2px;
  margin-left: 20px;
  width: 200px;
  height: 30px;
}
.buttonrow .search::placeholder {
  color: white;
}

/* SERVICE PAGE LINK BANNER ---------------------------------------------------------------------------------- */

.linktab {
  position: absolute;
  height: 85%;
  width: 23%;
  margin-left: 77%;
  margin-top: 8%;
  background: 
    linear-gradient(to top, rgba(1, 1, 100) 98%, var(--background-color) 100%),
    rgba(1, 1, 100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.linktab .title {
  padding-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 70%;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
.linktab .linkdisplay {
  overflow-x: hidden;
  overflow-y: scroll;
}
.linktab .link {
  font-size: 1.3em;
  padding-top: 20px;
  color: goldenrod;
  display: block;
  line-height: 1.5;
  font-style: italic;
}

/* EVENT BOXES ---------------------------------------------------------------------------------- */

.displayview {
  position: relative;
  top: 15%;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  height: 80%;
  align-self: center;
  gap: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.displayview::-webkit-scrollbar {
  display: none; 
}
.itembox {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: inherit;
  width: 30%;
  height: 300px;
  box-shadow: var(--shadow);
}
.itembox .itemtitlerow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  margin: 0px;
  height: 30%;
  width: 100%;
  border: none;
  background-color: rgb(1, 1, 100);
}
.itemtitlerow .itemicon {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 60px;
  height: 60px;
}
.itemtitlerow .itemtitle {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
}
.itembox .itemdate {
  position: relative;
  margin: 0px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.itembox .itemdes {
  position: relative;
  margin: 0px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.itemdes::-webkit-scrollbar {
  display: none; 
}

/* SERVICE BOXES ---------------------------------------------------------------------------------- */

.serviceview {
  position: relative;
  top: 15%;
  right: 5%;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
  height: 80%;
  align-self: center;
  gap: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.serviceview::-webkit-scrollbar {
  display: none; 
}
.servicebox {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: inherit;
  width: 40%;
  height: 300px;
  box-shadow: var(--shadow);
}
.servicebox .itemtitlerow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  margin: 0px;
  height: 30%;
  width: 100%;
  border: none;
  background-color: rgba(1, 1, 100);
}
.itemtitlerow .itemicon {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 60px;
  height: 60px;
}
.itemtitlerow .itemtitle {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
}
.servicebox .itemhours {
  position: relative;
  margin: 0px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.servicebox .itemdes {
  position: relative;
  margin: 0px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}




